.accordion {

  &-panel {
    background-color: $background-alt;
    padding: $space;
    margin-bottom: $half-space;
    border-radius: 0.3em;
  } // End &-panel

  &-panel-head {
    @include flexible($justify: space-between);

    svg {
      @include animate;
      height: 1.85em;
      width: 1.85em;

      &, use {
        fill: $foreground;
      }
    }
  } // End &-panel-head

  &-panel-title {
    font-size: 1.25em;
  }

  button {
    padding: $quarter-space;
    background: none;
    border: none;
    -webkit-appearance: none;
  }

  &-content {
    @include animate;
  }
} // End .accordian

.collapsed {
  display: none;
}
