.accordion {

  &-step {
    background-color: $background-alt;
    padding: $space;
    margin-bottom: $half-space;
    border-radius: 0.3em;
  } // End &-step

  &-step-head {
    @include flexible($justify: space-between);

    svg {
      @include animate;
      height: 1.85em;
      width: 1.85em;

      &, use {
        fill: $foreground;
      }
    }
  } // End &-step-head

  button {
    background: none;
    border: none;  
  }

  &-content {
    @include animate;
  }
} // End .accordian

.hidden {
  display: none;
}
